.array-container {
  position: absolute;
  left: 100px;
  top: 130px;
  right: 100px;
}

.array-container-dark-mode {
  background-color: black;
}

.array-bar {
  width: 20px;
  display: inline-block;
  margin: 0px 2px;
}

.navBar {
  height: 70px;
  width: 100%;
  background-color: black;
}

.highlight {
  background-color: red ;
}

